<div class="row">
  
  <div class="span2 col-xs-2">
  <%= gravatar_for user, size: 62 %>
	</div>
  <div class="span2 col-xs-5">
  <%= link_to user.name, user %>
	</div>
<div class="span2 col-xs-3 pull-right followajax<%=user.id%>">
<% unless current_user == user %>
  
  <% if current_user.following?(user) %>
    		<%= form_for(current_user.relationships.find_by(followed_id: user.id),
             html: { method: :delete },
             remote: true) do |f| %>
  			<%= f.submit "Unfollow", class: "btn btn-large btn-danger", data: { "loading-text" => "wait ..." }, onclick: "ga('send', 'event', 'Users', 'click', 'unfollow');" %>
<% end %>
  <% else %>
    <%= form_for(current_user.relationships.build(followed_id: user.id),
             remote: true) do |f| %>
  <div><%= f.hidden_field :followed_id %></div>
  <%= f.submit "Follow", class: "btn btn-large btn-primary", data: { "loading-text" => "wait..." }, onclick: "ga('send', 'event', 'Users', 'click', 'follow');"%>
<% end %>
  <% end %>
 
<% end %>
</div>
  <%# if current_user.admin? && !current_user?(user) %>
    <%#= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <%# end %>
</div>
  <hr>

